.home .card {
    margin: 0;
    margin-bottom: 10px;
}
.home .card .card-header, 
.home .card .card-body, 
.home .card .card-footer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.home .card .card-header .combo-box {
    border: 1px solid #ced4da;
    border-radius: .25rem; 
} 
  
.home .card .card-header *,
.home .card .card-body *,
.home .card .card-footer * { 
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
} 
.home .card .card-header .div-right,
.home .card .card-body .div-right,
.home .card .card-footer .div-right { 
    margin-right: 0;
} 

.home .div-right { 
    margin-left: auto;
}

 
@media only screen and (min-width: 400px) and (max-width: 500px) { 
    .home .range-input {  
        display: flex;
        flex-flow: column;
        align-items: center;
    }
} 
@media only screen and (max-width: 399px) { 
    .home .range-input {  
        margin-left: 0;
    }
    .home .card .card-header .range-input ,
    .home .card .card-body .range-input,
    .home .card .card-footer .range-input {
        margin-top: 10px;
    }
}    
.home .form-check { 
    display: flex; 
    align-items: center;
} 
 
 

.home .card .render-zone {
    display: flex;
    flex-flow: row;
    margin:0; 
} 
.home .card .render-zone *{
    flex: 1; 
    margin:0; 
} 



.time-complexity-table{
    width: 100%; 
}
.time-complexity-table thead td{
    font-weight: bold;
}
.time-complexity-table tr td:nth-child(2){
    text-align: center;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.time-complexity-table tr td:nth-child(3){
    text-align: right;
}